<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>A8_eng_indian_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{209,23}}</string>
			<key>offset</key>
			<string>{-105,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{209,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,27},{305,23}}</string>
			<key>offset</key>
			<string>{-56,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{305,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{271,23}}</string>
			<key>offset</key>
			<string>{-73,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{271,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,102},{243,23}}</string>
			<key>offset</key>
			<string>{-88,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{243,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{179,21}}</string>
			<key>offset</key>
			<string>{-119,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{179,21}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,77},{219,23}}</string>
			<key>offset</key>
			<string>{-100,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{219,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{209,23}}</string>
			<key>offset</key>
			<string>{-104,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{209,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,23}}</string>
			<key>offset</key>
			<string>{-51,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{317,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,52},{271,23}}</string>
			<key>offset</key>
			<string>{-73,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{271,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,52},{231,23}}</string>
			<key>offset</key>
			<string>{-93,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{231,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,25},{175,21}}</string>
			<key>offset</key>
			<string>{-121,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{175,21}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,102},{211,23}}</string>
			<key>offset</key>
			<string>{-104,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{211,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{1,1}}</string>
			<key>offset</key>
			<string>{-212,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{209,23}}</string>
			<key>offset</key>
			<string>{-105,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{209,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,27},{305,23}}</string>
			<key>offset</key>
			<string>{-56,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{305,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{271,23}}</string>
			<key>offset</key>
			<string>{-73,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{271,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,102},{243,23}}</string>
			<key>offset</key>
			<string>{-88,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{243,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{179,21}}</string>
			<key>offset</key>
			<string>{-119,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{179,21}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,77},{219,23}}</string>
			<key>offset</key>
			<string>{-100,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{219,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{209,23}}</string>
			<key>offset</key>
			<string>{-104,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{209,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,23}}</string>
			<key>offset</key>
			<string>{-51,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{317,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,52},{271,23}}</string>
			<key>offset</key>
			<string>{-73,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{271,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,52},{231,23}}</string>
			<key>offset</key>
			<string>{-93,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{231,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,25},{175,21}}</string>
			<key>offset</key>
			<string>{-121,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{175,21}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
		<key>A8_eng_indian_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,102},{211,23}}</string>
			<key>offset</key>
			<string>{-104,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{211,23}}</string>
			<key>sourceSize</key>
			<string>{425,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>A8_eng_indian_20.png</string>
		<key>New item</key>
		<string></string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7b5e75ab70792f9d346524114fc491b6$</string>
		<key>textureFileName</key>
		<string>A8_eng_indian_20.png</string>
	</dict>
</dict>
</plist>
