<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vol3gonbesan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{247,23}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{247,23}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{101,21}}</string>
                <key>offset</key>
                <string>{-127,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{101,21}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{247,23}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{247,23}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{101,21}}</string>
                <key>offset</key>
                <string>{-127,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{101,21}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{247,23}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{247,23}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{101,21}}</string>
                <key>offset</key>
                <string>{-127,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{101,21}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
            <key>vol3gonbesan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,23}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{253,23}}</string>
                <key>sourceSize</key>
                <string>{363,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vol3gonbesan_20.png</string>
            <key>size</key>
            <string>{512,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc04b242ed1dae8c8526ea8882fc530c$</string>
            <key>textureFileName</key>
            <string>vol3gonbesan_20.png</string>
        </dict>
    </dict>
</plist>
