<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vol3gonbesan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{495,43}}</string>
                <key>offset</key>
                <string>{-107,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{495,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{201,43}}</string>
                <key>offset</key>
                <string>{-256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{201,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{495,43}}</string>
                <key>offset</key>
                <string>{-107,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{495,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{201,43}}</string>
                <key>offset</key>
                <string>{-256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{201,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{495,43}}</string>
                <key>offset</key>
                <string>{-107,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{495,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{201,43}}</string>
                <key>offset</key>
                <string>{-256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{201,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
            <key>vol3gonbesan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,43}}</string>
                <key>offset</key>
                <string>{-103,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{507,43}}</string>
                <key>sourceSize</key>
                <string>{723,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vol3gonbesan_20-hd.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac8dce022bab741cdd95917b0293ea6$</string>
            <key>textureFileName</key>
            <string>vol3gonbesan_20-hd.png</string>
        </dict>
    </dict>
</plist>
